@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --primary: 39 100% 50%;
  --primary-foreground: 0 0% 98%;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --primary: 39 100% 50%;
  --primary-foreground: 0 0% 9%;
}

