@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

:root {
  --font-bebas: var(--font-bebas);
  --font-montserrat: var(--font-montserrat);
  --font-luckiest: var(--font-luckiest);
}

.font-bebas {
  font-family: var(--font-bebas);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-luckiest {
  font-family: var(--font-luckiest);
}

